In [1]:
import pandas as pd

In [2]:
# Load the full dataset
df = pd.read_csv("/content/full_preprocessed_aqi_weather_data_with_all_features.csv")

In [4]:
df.describe()

,temp_C,humidity_%,windspeed_kph,precip_mm,pm10,pm2_5,co,no2,so2,o3,...,aqi_us_lag24,hour_sin,hour_cos,aqi_us_lag12,hour,day_of_week,is_weekend,log_pm2_5_scaled_log_windspeed_kph,scaled_temp_C_scaled_o3,scaled_temp_C_scaled_log_windspeed_kph
count,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,...,2304.000000,2.304000e+03,2.304000e+03,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000,2304.000000
mean,30.943924,64.190946,17.223915,0.014149,65.495486,24.904470,314.233507,13.477604,12.708724,76.223524,...,78.192274,4.360902e-18,-9.638747e-18,78.316406,11.500000,3.000000,0.281250,-0.041721,-0.080939,0.500367
std,3.103462,17.753622,8.090231,0.143310,48.515595,10.264362,161.398023,9.595080,5.146719,31.833519,...,18.258122,7.072603e-01,7.072603e-01,18.248089,6.923689,1.974215,0.449707,3.315894,1.147178,1.196834
min,18.000000,6.030000,0.000000,0.000000,7.000000,5.500000,118.000000,2.400000,5.000000,12.000000,...,41.000000,-1.000000e+00,-1.000000e+00,41.000000,0.000000,0.000000,0.000000,-20.806023,-11.076025,-9.145163
25%,29.000000,52.500000,11.900000,0.000000,37.950000,18.500000,218.000000,6.375000,9.200000,54.000000,...,66.000000,-7.071068e-01,-7.071068e-01,66.000000,5.750000,1.000000,0.000000,-1.633641,-0.398187,-0.025407
50%,30.200000,69.370000,16.600000,0.000000,53.400000,22.800000,271.000000,10.900000,11.800000,68.000000,...,74.000000,6.100000e-17,-6.124851e-17,74.000000,11.500000,3.000000,0.000000,0.480685,0.013936,0.198184
75%,33.000000,78.770000,22.300000,0.000000,77.575000,28.200000,362.250000,17.725000,14.700000,95.000000,...,86.000000,7.071068e-01,7.071068e-01,86.000000,17.250000,5.000000,1.000000,2.196227,0.325460,0.800542
max,40.000000,100.000000,198.400000,2.900000,385.600000,95.700000,1416.000000,67.900000,42.100000,213.000000,...,158.000000,1.000000e+00,1.000000e+00,158.000000,23.000000,6.000000,1.000000,15.309916,5.089347,22.708921

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 40 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   datetime                                2304 non-null   object
 1   temp_C                                  2304 non-null   float64
 2   humidity_%                              2304 non-null   float64
 3   windspeed_kph                           2304 non-null   float64
 4   precip_mm                               2304 non-null   float64
 5   pm10                                    2304 non-null   float64
 6   pm2_5                                   2304 non-null   float64
 7   co                                      2304 non-null   float64
 8   no2                                     2304 non-null   float64
 9   so2                                     2304 non-null   float64
 10  o3                                      2304 non-null   float64
 11  log_co                                  2304 non-null   float64
 12  log_pm2_5                               2304 non-null   float64
 13  log_pm10                                2304 non-null   float64
 14  log_precip_mm                           2304 non-null   float64
 15  log_so2                                 2304 non-null   float64
 16  log_windspeed_kph                       2304 non-null   float64
 17  log_no2                                 2304 non-null   float64
 18  scaled_temp_C                           2304 non-null   float64
 19  scaled_humidity_%                       2304 non-null   float64
 20  scaled_log_windspeed_kph                2304 non-null   float64
 21  scaled_log_pm2_5                        2304 non-null   float64
 22  scaled_log_pm10                         2304 non-null   float64
 23  scaled_log_precip_mm                    2304 non-null   float64
 24  scaled_log_co                           2304 non-null   float64
 25  scaled_log_no2                          2304 non-null   float64
 26  scaled_log_so2                          2304 non-null   float64
 27  scaled_o3                               2304 non-null   float64
 28  aqi_us                                  2304 non-null   int64
 29  aqi_us_lag1                             2304 non-null   float64
 30  aqi_us_lag24                            2304 non-null   float64
 31  hour_sin                                2304 non-null   float64
 32  hour_cos                                2304 non-null   float64
 33  aqi_us_lag12                            2304 non-null   float64
 34  hour                                    2304 non-null   int64
 35  day_of_week                             2304 non-null   int64
 36  is_weekend                              2304 non-null   int64
 37  log_pm2_5_scaled_log_windspeed_kph      2304 non-null   float64
 38  scaled_temp_C_scaled_o3                 2304 non-null   float64
 39  scaled_temp_C_scaled_log_windspeed_kph  2304 non-null   float64
dtypes: float64(35), int64(4), object(1)
memory usage: 720.1+ KB

In [6]:
# Select the specified features
selected_features = ['datetime', 'aqi_us_lag1', 'aqi_us_lag12',
                     'aqi_us_lag24', 'pm2_5', 'log_pm10', 'scaled_humidity_%',
                     'scaled_temp_C_scaled_log_windspeed_kph', 'log_so2', 'day_of_week',
                     'scaled_temp_C', 'scaled_temp_C_scaled_o3', 'log_no2', 'aqi_us']

In [7]:
# Extract the selected features
feature_df = df[selected_features]

In [8]:
feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   datetime                                2304 non-null   object
 1   aqi_us_lag1                             2304 non-null   float64
 2   aqi_us_lag12                            2304 non-null   float64
 3   aqi_us_lag24                            2304 non-null   float64
 4   pm2_5                                   2304 non-null   float64
 5   log_pm10                                2304 non-null   float64
 6   scaled_humidity_%                       2304 non-null   float64
 7   scaled_temp_C_scaled_log_windspeed_kph  2304 non-null   float64
 8   log_so2                                 2304 non-null   float64
 9   day_of_week                             2304 non-null   int64
 10  scaled_temp_C                           2304 non-null   float64
 11  scaled_temp_C_scaled_o3                 2304 non-null   float64
 12  log_no2                                 2304 non-null   float64
 13  aqi_us                                  2304 non-null   int64
dtypes: float64(11), int64(2), object(1)
memory usage: 252.1+ KB

In [9]:
# Save to feature_selection.csv
feature_df.to_csv("feature_selection.csv", index=False)